.main{
    padding: 1rem;
    width: 820px;
    height: 400px;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.70),
      0 5px 15px 0 rgba(0,0,0,0.08);
    background-color: #FFFFFF;
    border-radius: 0.5rem;
    transition: border-left 300ms ease-in-out, padding-left 300ms ease-in-out;
}

.main:hover {
    border-bottom: 0.5rem solid #3a7dd5;
    transition: 1s;
}

  
.main > :first-child {
    margin-top: 0;
  }

.main > :last-child {
    margin-bottom: 0;
  }
  
  .task_maker{
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

}

.name_of_todo_list{
    font-size: 30px;
    font-family: 'Gabarito', cursive;
}
.task_maker{
    margin: 20px 20px;
}

.button {
    border-radius: 4px;
    background-color: #1fcac4;
    border: none;
    color: #FFFFFF;
    font-size: 30px;
    width: 250px;
    height: 50px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 70px;
    padding: 40px 40px;
    font-family: 'Gabarito', cursive;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0; 
    background-color: rgb(48, 52, 55) !important;
}


